body {
  --color-primary: #009579;
  --color-boxes: #6db7a9;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-error-dark: #681c1c;
  --color-success: #4bb544;
  --color-rescued: #34cc06;
  --color-rescued-dark: #1c6c04;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(../src/assets/img/background.png);
  background-size: cover;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.container,
.form__input,
.form__button,
.post-section {
  font: 500 1rem "Quicksand", sans-serif;
}

.form__dropdown {
  margin-bottom: 1rem;
  font: 500 1rem "Quicksand", sans-serif;
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.form__input-popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 150px;
  font-family: verdana;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 2px solid grey;
  z-index: 100000000000000000;
}

.form__input-popup--cancel {
  display: relative;
  cursor: pointer;
  margin: 0;
  float: right;
  height: 10px;
  width: 14px;
  padding: 0 0 5px 0;
  background: url(../popup-close.png);
  font-weight: bold;
  font-size: 11px;
  color: white;
  border-radius: 3px;
  z-index: 100000000000000000;
}

.form__input-popup-label {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* HOME PAGE */

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  right: 20vh;
  top: 20px;
}

.home-posts {
  overflow: auto;
  height: 95vh;
  padding-right: 100%;
  margin-left: 73vh;
}

.home-posts::-webkit-scrollbar {
  display: none;
}

.post-article {
  margin-top: 50px;
  width: 500px;
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  animation: fadeIn 0.5s;
  background-color: var(--color-primary);
  font: 500 1rem "Quicksand", sans-serif;
  color: white;
}

.post-article img {
  width: 120px;
  height: 98px;
  border-radius: 100px;
}

.post-article > #pa-div-1 {
  background-color: var(--color-boxes);
  padding: 20px 20px 0px 60px;
  border-radius: 20px;
}

.post-article > #pa-div-1 > * {
  display: inline-block;
}

.post-article > #pa-div-1 > h2 {
  padding-left: 50px;
}

.post-article > h2 {
  background-color: var(--color-boxes);
  text-align: center;
  padding: 20px 20px 10px 0px;
  border-radius: 10px;
}

.post-article > #pa-div-2 {
  background-color: var(--color-boxes);
  text-align: center;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-article > p {
  text-align: right;
}

.user-menu {
  position: fixed;
  top: 18vh;
  left: 0px;
  padding-top: 20px;
  padding-right: 90px;
  border-radius: 0px 100px 50px 0px;
  background-color: #ffffff;
  font: 500 2rem "Quicksand", sans-serif;
  animation: showUp 0.5s;
}

.user-management {
  text-align: center;
}

.user-management h1 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.user-interact {
  margin-left: 10px;
}

.user-menu img {
    width: 120px;
    height: 100px;
    border-radius:100px;
}

.user-menu-button {
  width: 80%;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.user-menu-button:hover {
  background: var(--color-primary-dark);
}

.user-menu-button:active {
  transform: scale(0.98);
}

.form__post > * {
  display: block;
}

.form__post > button {
  margin-left: 10%;
  margin-top: 5px;
}

.form__post > label {
  padding-top: 15px;
}

.form__post > label > * {
  margin-top: 15px;
}

.form__post > label > textarea {
  width: 203px;
  height: 92px;
  resize: none;
}

.post-section {
  background-color: #f5f5f5;
  margin-left: 15px;
  padding: 0px 100px 0px 100px;
  border-radius: 8px;
}

.form__image {
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 700px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: fixed;
  }
}

/*Animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showUp {
  from {
    left: -525px;
  }

  to {
    left: 0px;
  }
}
/*Animation*/

/* HOME PAGE */

/* MY POSTS*/
.myposts-button-delete {
  width: 200px;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-error);
}

.myposts-button-delete:hover {
  background: var(--color-error-dark);
}

.myposts-button-delete:active {
  transform: scale(0.98);
}

.myposts-button-rescued {
  width: 200px;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-rescued);
}

.myposts-button-rescued:hover {
  background: var(--color-rescued-dark);
}

.myposts-button-rescued:active {
  transform: scale(0.98);
}

.back-home {
  width: 200px;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 50%;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.back-home:hover {
  background: var(--color-primary-dark);
}

.back-home:active {
  transform: scale(0.98);
}
/* MY POSTS */

